{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header>

</header>

<main class="container-fluid"> <!-- ajouer la classe p-5 pour la version PC -->
    <section id="presentation">
<!-- Version PC
        <div class="row">
            <div class="col-6 p-2 my-auto"><img src="https://www.coved.com/wp-content/uploads/2016/11/orionthemes-placeholder-image-1.png" alt="lorem ipsum" title="lorem ipsum" class="w-100"></div>
            <div class="col-6 p-2 text-center align-middle">
                <h2>Le restaurant</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quia dicta soluta perspiciatis ducimus, placeat nam eius nisi obcaecati sequi eveniet aliquam molestias molestiae fuga temporibus assumenda, consequatur exercitationem optio! Iste distinctio animi, in earum nulla inventore aliquam neque quos provident deserunt maiores doloribus, voluptatem a molestiae praesentium adipisci obcaecati quam tenetur est? Reprehenderit laborum, accusamus, consequatur pariatur nihil vitae ratione ducimus veniam laudantium, optio corrupti ipsa delectus perspiciatis iste rem recusandae. Autem animi inventore deserunt, molestiae necessitatibus tempore delectus odio qui quibusdam recusandae eum pariatur accusamus eveniet dolor quas nobis iure possimus laboriosam aut sapiente minima ducimus ullam. Aperiam.
                <br><br>
                <a href="{{ path('carte') }}" class="btn btn-primary">Commander en ligne</a>
            </div>
        </div>
         -->
         <div class="row">
            <img src="https://www.coved.com/wp-content/uploads/2016/11/orionthemes-placeholder-image-1.png" alt="lorem ipsum" title="lorem ipsum" class="w-100">
            <div class="col-12 p-3 text-center">
                <h2>Le restaurant</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quia dicta soluta perspiciatis ducimus, placeat nam eius nisi obcaecati sequi eveniet aliquam molestias molestiae fuga temporibus assumenda, consequatur exercitationem optio! Iste distinctio animi, in earum nulla inventore aliquam neque quos provident deserunt maiores doloribus, voluptatem a molestiae praesentium adipisci obcaecati quam tenetur est? Reprehenderit laborum, accusamus, consequatur pariatur nihil vitae ratione ducimus veniam laudantium, optio corrupti ipsa delectus perspiciatis iste rem recusandae. Autem animi inventore deserunt, molestiae necessitatibus tempore delectus odio qui quibusdam recusandae eum pariatur accusamus eveniet dolor quas nobis iure possimus laboriosam aut sapiente minima ducimus ullam. Aperiam.
                <br><br>
                <a href="{{ path('carte') }}" class="btn btn-primary">Commander en ligne</a>
            </div>
         </div>
    </section>

    <section id="top_plats" class="row">
    <!-- Plats mis en avant --> 
    </section>

    <section id="plats" class="row">
    <!-- liens vers la liste complète des articles -->
    </section>

    <section id="map" class="row">
     <!-- Informations  : à gauche une map fixe et à droite des infos -->       
    </section>

    <section id="contact" class="row">
     <!-- formulaire de contact -->   
    </section>
</main>

{% endblock %}
