{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header>

</header>

<main>
    <section id="about">
<<<<<<< HEAD
        
=======
        Test
>>>>>>> 9bbd57883fd1c6255f9ea6d7ada3c17c8d28c85b
    </section>

    <section id="en-avant">
        
    </section>

    <section id="carte">
        saolidhja   zoiufhnaoeziufho
    </section>

    <section id="info">
        
    </section>

    <section id="contact">
        
    </section>
</main>

{% endblock %}
