{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header>

</header>

<main class="container-fluid"> <!-- ajouer la classe p-5 pour la version PC -->

    <section id="diapo"></section>

    <section id="presentation">
<!-- Version PC
        <div class="row">
            <div class="col-6 p-2 my-auto"><img src="https://www.coved.com/wp-content/uploads/2016/11/orionthemes-placeholder-image-1.png" alt="lorem ipsum" title="lorem ipsum" class="w-100"></div>
            <div class="col-6 p-2 text-center align-middle">
                <h2>Le restaurant</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quia dicta soluta perspiciatis ducimus, placeat nam eius nisi obcaecati sequi eveniet aliquam molestias molestiae fuga temporibus assumenda, consequatur exercitationem optio! Iste distinctio animi, in earum nulla inventore aliquam neque quos provident deserunt maiores doloribus, voluptatem a molestiae praesentium adipisci obcaecati quam tenetur est? Reprehenderit laborum, accusamus, consequatur pariatur nihil vitae ratione ducimus veniam laudantium, optio corrupti ipsa delectus perspiciatis iste rem recusandae. Autem animi inventore deserunt, molestiae necessitatibus tempore delectus odio qui quibusdam recusandae eum pariatur accusamus eveniet dolor quas nobis iure possimus laboriosam aut sapiente minima ducimus ullam. Aperiam.
                <br><br>
                <a href="{{ path('carte') }}" class="btn btn-primary">Commander en ligne</a>
            </div>
        </div>
         -->

         <!-- Version mobile -->
         <div class="row">
            <img src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png" alt="lorem ipsum" title="lorem ipsum" class="w-100">
            <div class="col-12 p-3 text-center">
                <h2>Le restaurant</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quia dicta soluta perspiciatis ducimus, placeat nam eius nisi obcaecati sequi eveniet aliquam molestias molestiae fuga temporibus assumenda, consequatur exercitationem optio! Iste distinctio animi, in earum nulla inventore aliquam neque quos provident deserunt maiores doloribus, voluptatem a molestiae praesentium adipisci obcaecati quam tenetur est? Reprehenderit laborum, accusamus, consequatur pariatur nihil vitae ratione ducimus veniam laudantium, optio corrupti ipsa delectus perspiciatis iste rem recusandae. Autem animi inventore deserunt, molestiae necessitatibus tempore delectus odio qui quibusdam recusandae eum pariatur accusamus eveniet dolor quas nobis iure possimus laboriosam aut sapiente minima ducimus ullam. Aperiam.
                <br><br>
                <a href="{{ path('carte') }}" class="btn btn-primary">Commander en ligne</a>
            </div>
         </div>
    </section>

    <section id="top_plats" class="row">
        <!-- Version PC -->

        <!-- Version mobile -->
        <img src="http://www.thaiathomevt.com/files/2015/07/food-placeholder-1-e1436664998806-1024x768.jpg" alt="lorem ipsum" title="lorem ipsum" class="w-100">
        <div class="col-12 p-3 text-center">
            <h2>En avant cette semaine</h2>
            <h4>Nom du plat</h4>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quia dicta soluta perspiciatis ducimus, placeat nam eius nisi obcaecati sequi eveniet aliquam molestias molestiae fuga temporibus assumenda, consequatur exercitationem optio! Iste distinctio animi, in earum nulla inventore aliquam neque quos provident deserunt maiores doloribus, voluptatem a molestiae praesentium adipisci obcaecati quam tenetur est?
            <br><br>
            <a href="#" class="btn btn-primary">Découvrir</a>
        </div>

        <!-- En fait, ce sera des diapos avec recherche dans la BDD ; les alt et les title récupéreront le nom du plat dans la BDD également --> 
    </section>

    <section id="map" class="row">
    <!-- Version PC -->
        
    <!-- Version mobile -->
        <div class="col-12 p-1 text-center"><h2>Informations</h2></center></div>
        <img src="https://www.kpmindustries.com/wp-content/uploads/2018/08/Placeholder-Map-Image-768x409.png" alt="lorem ipsum" title="lorem ipsum" class="w-100">
        <div class="col-12 p-3 text-center">
            <p>12 rue du Village</p>
            <p>12345 Ville</p>
            <p>01.23.45.67.89</p>
            <p>prenom.nom@domaine.com</p>
            <p>Horaires</p>
            <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem itaque sapiente a molestiae asperiores magni tenetur sint eum omnis optio.</div>
            <br>
            <a href="#" class="btn btn-primary">Nous contacter</a>
            <br><br>
            <a href="#" class="btn btn-primary">Commander en ligne</a>
        </div>

     <!-- Informations  : à gauche une map fixe et à droite des infos -->       
    </section>

    <section id="contact" class="row">
    <!-- Version PC -->


    <!-- Version mobile -->
        <div class="col-12 p-3 text-center">
            <h2>Nous contacter</h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quia dicta soluta perspiciatis ducimus, placeat nam eius nisi obcaecati sequi eveniet aliquam molestias molestiae fuga temporibus assumenda, consequatur exercitationem optio! Iste distinctio animi, in earum nulla inventore aliquam neque quos provident deserunt maiores doloribus, voluptatem a molestiae praesentium adipisci obcaecati quam tenetur est?
            <br><br>
            <a href="#" class="btn btn-primary">Envoyer</a>
        </div>
    </section>
</main>

{% endblock %}
