{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header>

</header>

<main class="container-fluid p-5">
    <section id="presentation" class="row">
        <div class="col-12">
            <div class="col-6 p-2">Photo du resto</div>
            <div class="col-6 p-2">Descri du resto</div>
        </div>
    </section>

    <section id="top_plats" class="row">
    <!-- Plats mis en avant --> 
    </section>

    <section id="plats" class="row">
    <!-- liens vers la liste complète des articles -->
    </section>

    <section id="map" class="row">
     <!-- Informations  : à gauche une map fixe et à droite des infos -->       
    </section>

    <section id="contact" class="row">
     <!-- formulaire de contact -->   
    </section>
</main>

{% endblock %}
