{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header>
    
</header>

<main>
    <section id="about">

    </section>

    <section id="en-avant">
        
    </section>

    <section id="carte">
        
    </section>

    <section id="info">
        
    </section>

    <section id="contact">
        
    </section>
</main>

{% endblock %}
