{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header>
    
</header>

<main>
    <section id="presentation">
       <!-- Le restaurant -->
    </section>

    <section id="top_plats">
    <!-- Plats mis en avant --> 
    </section>

    <section id="plats">
    <!-- liens vers la liste complète des articles -->
    </section>

    <section id="map">
     <!-- Informations  : à gauche une map fixe et à droite des infos -->       
    </section>

    <section id="contact">
     <!-- formulaire de contact -->   
    </section>
</main>

{% endblock %}
