#landingpage
{
    background-image: url("http://www.pngmagic.com/product_images/landing-page-banner-background-sm.jpg");
    background-size: cover;
    padding : 0;
    height : 100vh;
    width : 100%;
}


/*¨MEDIA QUERIES */

/* @media screen and (min-width: 900px) {

    .carousel-container {
        width: 100%;
    }

    #carouselExampleIndicators {
        width: 50%;
    }

    .carousel-item .carousel-caption
    {
        color : red;
    }

} */