@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
  font-family: 'Baloo Bhai 2', cursive;
}

.btn
{
  font-family: 'Alata', sans-serif;
}

#landingpage
{
    /* background-image: url("http://www.pngmagic.com/product_images/landing-page-banner-background-sm.jpg"); */
    background-image: url("../img/landingpage.jpg");
    background-position: left center; /* à modifier pour la version mobile selon notre choix */
    background-size: cover;
    padding : 0;
    height : 100vh;
    width : 100%;
    margin-left: 0 !important;
}

#presentation
{
  background-image: url("../img/presentation.jpg");
  background-position: left center; /* à modifier pour la version mobile selon notre choix */
  background-size: cover;
  padding : 0;
  height : 100vh;
  width : 100%;
  margin-left: 0 !important;
}

#top_plats
{
  background-image: url("../img/top_plats.jpg");
  background-position: left center; /* à modifier pour la version mobile selon notre choix */
  background-size: cover;
  padding : 0;
  height : 100vh;
  width : 100%;  
  margin-left: 0 !important;
}

#autres_plats
{
  background-image: url("../img/autres_plats.jpg");
  background-position: left center; /* à modifier pour la version mobile selon notre choix */
  background-size: cover;
  padding : 0;
  height : 100vh;
  width : 100%;  
  margin-left: 0 !important;
}

#map
{
  background-image: url("../img/map.jpg");
  background-position: left center; /* à modifier pour la version mobile selon notre choix */
  background-size: cover;
  padding : 0;
  height : 100vh;
  width : 100%;  
  margin-left: 0 !important;
}

#contact
{
  background-image: url("../img/contact.jpg");
  background-position: left center; /* à modifier pour la version mobile selon notre choix */
  background-size: cover;
  padding : 0;
  height : 100vh;
  width : 100%;  
  margin-left: 0 !important;
}

.sous_section
{
  margin-top : 10vh;
}

.img_home
{
    box-shadow: 10px 5px 5px rgba(0,0,0,0.4);
} 

h1, h2
{
  font-family: 'Akaya Telivigala', cursive;
}

#landingpage > div > h1
{
  color : rgba(255, 255, 255);
  font-size : 4rem;
  text-shadow: grey 1px 0 10px;
}

@media screen and (max-width: 700px) {
  #landingpage > div > h1
  {
    font-size : 2rem;
  }
}

#cta
{
  font-size : 1.25rem;
}

#page_carte
{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.big_list
{
    padding-right: 0 !important;
}

/*                        SIDEBAR ET DROPDOWN DE LA CARTE                       */
  .sidebar_pc a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidebar_pc a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Dropdown container (hidden by default) */
  .dropdown-container {
    display: none;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .sidebar_mobile ul
  {
    padding-left: 10px;
  }
  .sidebar_mobile ul li
  {
    list-style: none;
    display: inline;
  }
  .sidebar_mobile ul li a
  {
    text-decoration: none;
    padding : 5px;
    color : #818181;
    font-weight: bold;
  }

  
@media screen and (max-width: 700px) {
  .sidebar_pc {
    display : none;
  }
  #slider_pc {
    display : none;
  }
}
@media screen and (min-width: 701px) {
  .sidebar_mobile {
    display : none;
  }
}


/*                        FOOTER                        */
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }

  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }

  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }

  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }

  .footer-dark ul a:hover {
    opacity:0.8;
  }

  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }

  .footer-dark .item.text {
    margin-bottom:36px;
  }

  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }

  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }

  .footer-dark .item.social {
    text-align:center;
  }

  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }

  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:rgb(36, 26, 26);
    opacity:0.75;
  }

  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }

  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

.logonav{
  margin: 0;
  padding: 0;
}