{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="text-center">
        <h3>Bienvenue sur l'espace administrateur !</h3>
        <p>Pour commencer, merci de sélectionner un lien dans le menu à gauche.</p>
    </div>

{% endblock %}
