{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

{% if app.user %}
    <div class="container p-5">
        <div class="row">
            <div class="col-4">
                <p><a href="#">Information du compte</a></p>
                <p><a href="#">Historique des commandes</a></p>
            </div>
            <div class="col-8">
                <h3>Bienvenue {{ app.user.prenom }} !</h3>
            </div>
        </div>
    </div>
{% else %}
    <div class="container-fluid text-center">
        <h3 class="p-3">Vous devez vous connecter pour accéder à votre compte.</h3>
        <a href="{{ path('app_login') }}"><button class="btn btn-light btn-outline-dark">Se connecter</button></a>
        <a href="{{ path('app_register') }}"><button class="btn btn-light btn-outline-dark">Créer un compte</button></a>
    </div>
        
{% endif %}
{% endblock %}